/* Smooth fade animation for hover */
.hover-fade {
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
}

.hover-fade:hover {
  opacity: 0.7;
  transform: scale(1.02); /* Optional: subtle zoom */
}
light {
    filter: brightness(10px);
    filter: blur(5px);
    filter: contrast(6px)
}